parameters:
  - name: CONTAINER_NAME
    type: string
  - name: DOCKERFILE_PATH
    type: string
  - name: AZURE_CONTAINER_REGISTRY
    type: string
  - name: BUILD_ARGS
    type: string
    default: ''
  - name: jobCondition
    type: string
    default: succeeded()

jobs:
- job: BuildAndPushGenesisOpenFGA
  displayName: 'Build and Push Genesis OpenFGA'
  condition: ${{ parameters.jobCondition }}
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - checkout: self
    submodules: true
    persistCredentials: true

  - task: Docker@2
    displayName: 'Build Genesis OpenFGA Image'
    inputs:
      command: 'build'
      repository: '${{ parameters.CONTAINER_NAME }}'
      containerRegistry: '${{ parameters.AZURE_CONTAINER_REGISTRY }}'
      dockerfile: '${{ parameters.DOCKERFILE_PATH }}'
      buildContext: '.'
      ${{ if ne(parameters.BUILD_ARGS, '') }}:
        arguments: '${{ parameters.BUILD_ARGS }}'
      tags: |
        $(Build.BuildNumber)
        latest
    condition: and(succeeded(), in(variables['Build.Reason'], 'Manual', 'IndividualCI', 'BatchedCI'))

  - script: docker images
    displayName: 'List Docker Images'

  - task: Docker@2
    displayName: 'Push Genesis OpenFGA Image'
    inputs:
      command: 'push'
      repository: '${{ parameters.CONTAINER_NAME }}'
      containerRegistry: '${{ parameters.AZURE_CONTAINER_REGISTRY }}'
      tags: |
        $(Build.BuildNumber)
        latest
    condition: and(succeeded(), in(variables['Build.Reason'], 'Manual', 'IndividualCI', 'BatchedCI'))

  - script: |
      git tag openfga-$(Build.BuildNumber)
      git push origin openfga-$(Build.BuildNumber)
    displayName: 'Git Tag'
    condition: and(succeeded(), in(variables['Build.Reason'], 'Manual', 'IndividualCI', 'BatchedCI'))

  - script: |
      echo "Genesis OpenFGA image built and pushed successfully"
      echo "Image: ${{ parameters.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ parameters.CONTAINER_NAME }}:$(Build.BuildNumber)"
      echo "Components:"
      echo "  - OpenFGA Authorization Server (Go)"
      echo "  - gRPC Health Probe"
    displayName: 'Genesis OpenFGA Build Summary'
